<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--css-->
<div th:fragment="css">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
</div>

<!--header-->
<header class="bg-dark sticky-top" th:fragment="header">
    <div class="container">
        <!-- 导航 -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <!-- logo -->
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- 功能 -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ml-3 btn-group-vertical">
                        <a class="nav-link" th:href="@{/index}">首页</a>
                    </li>
                    <li class="nav-item ml-3 btn-group-vertical"  th:if="${loginUser!=null}">
                        <a class="nav-link position-relative" th:href="@{/letter/list}">消息<span class="badge badge-danger" th:text="${allUnreadCount!=0?allUnreadCount:''}">12</span></a>
                    </li>
                    <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser==null}">
                        <a class="nav-link" th:href="@{/register}" >注册</a>
                    </li>
                    <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser==null}">
                        <a class="nav-link" th:href="@{/login}" >登录</a>
                    </li>
                    <li class="nav-item ml-3 btn-group-vertical dropdown" th:if="${loginUser!=null}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img th:src="${loginUser.headerUrl}" class="rounded-circle" style="width:30px;"/>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-center" th:href="@{|/user/profile/${loginUser.id}|}">个人主页</a>
                            <a class="dropdown-item text-center" th:href="@{/user/setting}">账号设置</a>
                            <a class="dropdown-item text-center" th:href="@{/logout}">退出登录</a>
                            <div class="dropdown-divider"></div>
                            <span class="dropdown-item text-center text-secondary" th:utext="${loginUser.username}">nowcoder</span>
                        </div>
                    </li>
                </ul>
                <!-- 搜索 -->
                <form class="form-inline my-2 my-lg-0" method="get" th:action="@{/search}">
                    <input class="form-control mr-sm-2" type="search" aria-label="Search" name="keyword" th:value="${keyword}" />
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
        </nav>
    </div>
</header>

<!--js-->
<div th:fragment="js">

<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>-->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{/js/global.js}"></script>
</div>

</html>